<html>
<head>

    <link rel="stylesheet" href="{{url_for('static', filename='stone1.css')}}"

    </head>

<img src="C:/Users/Nicolas/Documents/stones1.jpg" alt="A funny dog sitting on the grass.">

{% with messages= get_flashed_messages() %}
            {% if messages %}

<ul>
    {% for message in messages %}
    <li><strong>{{ message }} </strong> </li>
    {% endfor %}
</ul>
            {% endif %}
            {% endwith %}
<h1> Minerals </h1>

<div class="stones_1"></div>

<form action='{{url_for('showMinerals')}}'>

    <a href='{{url_for('newMineral')}}'>New Mineral</a>
    <br />
    <br />
    <br />
    <br />
    <br />

    {% for i in minerals %}
    <div>
        <a href='{{url_for('showItems',mineral_id = i.id)}}'>{{i.name}}</a>
        </br>
        </br>


        {% endfor %}

    </body>
</form>