</head>
<body>

    <h1> New Item </h1>

    <link rel=stylesheet type=text/css href="{{url_for('static',filename='styles.css')}}">
    </head>
    <body>
        <div class='pane'>
            <div class="header">
                <div class='header'>


                    <form action="{{url_for('newItem',mineral_id = mineral_id)}}" method='post'>

                        <p>Name:</p>
                        <input type='text' size='30' name='name'>
                        <p>Origin:</p>
                        <input type='text' size='30' name='origin'>
                        <p>Colour:</p>
                        <input type='text' size='30' name='colour'>
                        <p>Price:</p>
                        <input type='text' size='30' name='price'>
                        <p>Hardness:</p>
                        <input type='text' size='30' name='hardness'>
                        <p>Description:</p>
                        <input type='text' size='30' name='description'>

                        <input type='submit' value='Create'>


                        </br>
                        </br>
                        </br>


                        <a href='{{url_for('showItems', mineral_id=mineral_id)}}'> Cancel </a>
</body>
    </html>
